@import "tailwindcss";

@import "@fontsource/inter/latin-400.css";
@import "@fontsource/inter/latin-500.css";
@import "@fontsource/inter/latin-600.css";
@import "@fontsource/inter/latin-700.css";

@theme {
  --font-sans: "Inter", system-ui, sans-serif;

  --color-bg-primary: #111317;
  --color-bg-secondary: #171a20;
  --color-bg-tertiary: #222833;

  --color-accent: #6e83ff;
  --color-accent-hover: #89f;

  --color-text-primary: #141414;
  --color-text-secondary: #b8bfcb;

  --color-danger: #ff6467;

  --color-border-primary: #3a4251;
}

html {
  @apply text-[75%] lg:text-[100%];
}

body {
  @apply bg-[#BBC8F7] font-sans text-text-primary antialiased;
}

button {
  @apply cursor-pointer transition-all duration-300 ease-in-out;
}

h1 {
  @apply text-6xl font-bold;
}

h2 {
  @apply text-5xl font-bold;
}
