@import "tailwindcss";

@import "@fontsource/inter/latin-400.css";
@import "@fontsource/inter/latin-500.css";
@import "@fontsource/inter/latin-600.css";
@import "@fontsource/inter/latin-700.css";

@theme {
  --font-sans: "Inter", system-ui, sans-serif;

  --color-bg-accent-light: #e8f1ff;

  --color-accent: #005de0;
  --color-accent-light: #0a70ff;
  --color-accent-hover: #0a70ff;

  --color-text-primary: #000;
  --color-text-secondary: #737373;

  --color-border-primary: #d8dce4;
  --color-border-accent: #005de0;
}

@utility bg-accent-gradient {
  background-color: #7d94f2;
  background-image: none;
}

html {
  @apply text-[85%] lg:text-[100%];
}

/* body {
  @apply lg:mx-auto lg:max-w-7xl;
} */

@layer base {
  html {
    scrollbar-gutter: stable;
  }
}

body {
  @apply bg-[#F0F6FF] font-sans text-text-primary antialiased;
}

button {
  @apply cursor-pointer transition-all duration-300 ease-in-out;
}

h1 {
  @apply text-4xl font-[900] lg:text-6xl;
}

h2 {
  @apply text-4xl font-[600] lg:text-[3.5rem];
}

h3 {
  @apply text-2xl font-[500] lg:text-3xl;
}
