@import "tailwindcss";

@import "@fontsource/inter/latin-400.css";
@import "@fontsource/inter/latin-500.css";
@import "@fontsource/inter/latin-600.css";
@import "@fontsource/inter/latin-700.css";

@theme {
  --font-sans: "Inter", system-ui, sans-serif;

  --color-bg-accent-light: #dedffe;

  --color-accent: #6e83ff;
  --color-accent-light: #92a0ff;
  --color-accent-hover: #89f;

  --color-text-primary: #141414;
  --color-text-secondary: #696969;

  --color-border-primary: #acb4c3;
  --color-border-accent: #2443ff;
}

@utility bg-accent-gradient {
  background-image: linear-gradient(
    to bottom right,
    var(--color-accent-light),
    var(--color-accent)
  );
}

html {
  @apply text-[85%] 2xl:text-[100%];
}

/* body {
  @apply lg:mx-auto lg:max-w-7xl;
} */

@layer base {
  html {
    scrollbar-gutter: stable;
  }
}

body {
  @apply bg-white font-sans text-text-primary antialiased;
}

button {
  @apply cursor-pointer transition-all duration-300 ease-in-out;
}

h1 {
  @apply text-4xl font-[900] lg:text-5xl;
}

h2 {
  @apply text-3xl font-[600] lg:text-4xl;
}

h3 {
  @apply text-2xl font-[500] lg:text-3xl;
}
